// Reglas Firestore adaptadas a tus artículos
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function validArticle() {
      return request.resource.data.keys().hasOnly([
        'id',
        'author',
        'title',
        'description',
        'url',
        'urlToImage',
        'publishedAt',
        'content'
      ])
      &&
      request.resource.data.id is string
      &&
      request.resource.data.author is string
      &&
      request.resource.data.title is string
        && request.resource.data.title.size() >= 3
      &&
      request.resource.data.description is string
      &&
      request.resource.data.url is string
      &&
      request.resource.data.urlToImage is string
      &&
      request.resource.data.publishedAt is string
      &&
      request.resource.data.content is string
        && request.resource.data.content.size() >= 20;
    }

    match /articles/{id} {

      // Lectura sin restricciones
      allow read: if true;

      // Escritura solo si el documento es válido
      allow create, update: if validArticle();

      // Permitir borrar artículos
      allow delete: if true;
    }
  }
}