rules_version = '3';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Lectura permitida
      allow read: if true;

      // Escritura permitida pero limitada
      allow write: if request.resource.size < 5 * 1024 * 1024; // máx 5MB
    }
  }
}